/* src/App.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212; /* Dark background for the body */
  color: #e0e0e0; /* Light text color */
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background-color: #1f1f1f; /* Dark background for the header */
  color: #e0e0e0; /* Light text color */
  padding: 7px 20px; /* Adjusted padding for better spacing */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #333; /* Darker border for contrast */
}

.logo img {
  max-height: 50px;
}

.title {
  flex: 1;
  text-align: center;
  margin: 0;
  color: #e0e0e0; /* Light color for the title */
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #1e1e1e; /* Dark background for the main content */
}

footer {
  background-color: #1f1f1f; /* Dark background for the footer */
  color: #e0e0e0; /* Light text color */
  text-align: center;
  padding: 15px 20px; /* Adjusted padding for better spacing */
  border-top: 1px solid #333; /* Darker border for contrast */
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-header, .App-footer {
  background-color: #1f1f1f; /* Dark background for header and footer */
}

.App-main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e; /* Dark background for main content */
}
